########################################################################################################################################
#
#   Wesley (TM)
#   A Karl Steltenpohl Development LLC Product
#   Copyright 2013 All Rights Reserved
#
########################################################################################################################################

#AddHandler x-httpd-php .php
#AddHandler x-httpd-php .php4
#AddHandler php-script .php5
AddType application/x-httpd-php .php5

# PHP SETTINGS FOR UPLOAD SIZE
php_value upload_max_filesize 100M
php_value post_max_size 200M

# BLOCK BAD BOTS
SetEnvIfNoCase User-Agent "^EmailSiphon" bad_bot
SetEnvIfNoCase User-Agent "^EmailWolf" bad_bot
SetEnvIfNoCase User-Agent "^ExtractorPro" bad_bot
SetEnvIfNoCase User-Agent "^CherryPicker" bad_bot
SetEnvIfNoCase User-Agent "^NICErsPRO" bad_bot
SetEnvIfNoCase User-Agent "^Teleport" bad_bot
SetEnvIfNoCase User-Agent "^EmailCollector" bad_bot
SetEnvIfNoCase User-Agent "^LinkWalker" bad_bot
SetEnvIfNoCase User-Agent "^Zeus" bad_bot

<Limit GET POST>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</Limit>

# USER AUTHENTICATION
#AuthUserFile /home/content/32/5380632/html/.htpasswd
#AuthGroupFile /null
#AuthName "EnterPassword"
#AuthType Basic
#require valid-user

# ERROR PAGES
#ErrorDocument 401 /home/content/32/5380632/html/401.php
#ErrorDocument 403 /home/content/32/5380632/html/403.php
#ErrorDocument 404 /home/content/32/5380632/html/404.php
#ErrorDocument 500 /home/content/32/5380632/html/500.php

# MOD REWRITE
Options +FollowSymlinks
RewriteEngine On

# DUMMY CONNECTIONS
RewriteCond %{HTTP_USER_AGENT} ^.*internal\ dummy\ connection.*$ [NC]
RewriteRule .* - [F,L]

# ACTUAL DOMAIN METHOD (yourdomainhere.com)
RewriteCond %{REQUEST_URI} !^/admin [NC]
RewriteCond %{REQUEST_URI} !^/themes [NC]
RewriteCond %{REQUEST_URI} !^/uploads [NC]
RewriteCond %{HTTP_HOST} !^([^/\.]+).wescms.com(.*) [NC]
RewriteRule ^(.*)$ index.php?website=%{HTTP_HOST}&request=%{THE_REQUEST} [NC,L]

# SUBDOMAIN METHOD (yourwebsitehere.wescms.com)
RewriteCond %{HTTP_HOST} !^www. [NC]
RewriteCond %{REQUEST_URI} !^/admin [NC]
RewriteCond %{REQUEST_URI} !^/themes [NC]
RewriteCond %{REQUEST_URI} !^/uploads [NC]
RewriteCond %{HTTP_HOST} ^([^/\.]+).wescms.com(.*) [NC]
RewriteRule ^(.*)$ index.php?website=%1&request=%{THE_REQUEST} [NC,L]

# WWW
#RewriteCond %{HTTP_HOST} !^www.wescms.com$ [NC]
#RewriteCond %{HTTP_HOST} !^dev\. [NC]
#RewriteRule ^(.*)$ http://www.wescms.com/$1 [R=301]