/*************************************************/
/*   Stylesheet developed on:	11-09-09		 */
/*	 Developed by:				GRUBFORCE        */
/*************************************************/   

/* In this stylesheet you will find the core styles defined for the Clean Studio THEMPLATE */

/*******************/
/*   Site basics   */
/*******************/

* { padding: 0; margin: 0; border-width: 0; list-style-type: none; border-style: none; }

form { display: inline-block; margin: 20px 0 0; }

a { text-decoration: none; font-family: "Lucida Grande", Lucida, Verdana, sans-serif; }

	a:hover { text-decoration: underline; }
	 
	a.small { text-decoration: none; font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;  margin-left: 10px; }
	
	a.small:hover { text-decoration: underline; }

/************/
/*   Logo   */
/************/

div#logo { width: 255px; height: 45px; float: left; display: inline-block; margin: 25px 0; }

/********************/
/*   Tekst styles   */
/********************/

p { color: #8b8b8b; font: 11px/20px "Lucida Grande", Lucida, Verdana, sans-serif; }

	p.space { margin: 0 0 15px; }

	p.twit { font-size: 13px; margin: 0 0 5px; }

	p.small { font: 9px/14px "Lucida Grande", Lucida, Verdana, sans-serif;  }

	p.T_footer { line-height: 36px; }

h1 { font: 16px/40px "Lucida Grande", Lucida, Verdana, sans-serif; color: #363636; }

	h1.small { width: 300px; height: 40px; float: left; display: inline-block; background-image: url(../images/col_small.png); padding: 0 0 0 20px; }

		h1.small_twitter { width: 300px; height: 40px; float: left; display: inline-block; background-image: url(../images/col_small_twitter.png); padding: 0 0 0 20px; }
	
	h1.medium { width: 630px; height: 40px; float: left; display: inline-block; background: url(../images/col_medium.png) no-repeat; padding: 0 0 0 20px; }
	
	h1.full { width: 960px; height: 40px; display: inline-block; float: left; background-image: url(../images/col_full.png); padding: 0 0 0 20px; }

h2 { font: bold 16px "Lucida Grande", Lucida, Verdana, sans-serif; color: #363636; margin: 0 0 5px; }

/********************/
/*   Contentframe   */
/********************/

div#contentFrame { width: 980px; margin-right: auto; margin-left: auto; }

	div#content { display: inline-block; width: 980px; float: left; margin: 10px 0 0; }
	
/******************/
/*   Navigation   */
/******************/

div#nav_wrapper { width: 940px; height: 40px; background: url(../images/nav.png) no-repeat; display: inline-block; float: left; padding: 0 20px; margin-bottom:10px; }

	#nav ul li { float: left; display: inline-block; height: 40px; font: 13px/40px "Lucida Grande", Lucida, Verdana, sans-serif; margin: 0 40px 0 0; }
	
		a.nav { text-decoration: none; color: #898989; }
		
		a.nav:hover { color: #363636; }

/************/
/*   Cols   */
/************/

div#col_2_1 { width: 650px; min-height:400px; display: inline-block; float: left; margin: 0 10px 0 0; }

div#col_2_2 { /*display: inline-table;*/ display:inline-block; min-height:400px; float: left; width: 320px; }

/***************/
/*   Modules   */
/***************/

div.small_col { display: inline-block; float: left; width: 280px; padding: 20px 20px 15px; background: url(../images/div_small.png) repeat-y; }

	div.bottom { display: inline-block; float: left; width: 320px; height: 5px; background-image: url(../images/div_small_bottom.png); overflow: hidden; margin: 0 0 10px; }

div.medium_col { display: inline-block; float: left; width: 610px; padding: 20px 20px 15px; background-image: url(../images/BG_medium_col.png); }

	div.medium_bottom { display: inline-block; width: 650px; height: 5px; background-image: url(../images/div_medium_bottom.png); overflow: hidden; float: left; margin: 0 0 10px; }

div.full_col { display: inline-block; width: 960px; background-image: url(../images/BG_full_col.png); height: 580px; padding: 20px 0 15px 20px; }

div.full_col_2 { display: inline-block; width: 940px; background-image: url(../images/BG_full_col.png); padding: 20px 20px 15px; }

	div.full_bottom { display: inline-block; width: 980px; height: 5px; background-image: url(../images/div_full_bottom.png); float: left; overflow: hidden; margin: 0 0 10px; }

/*****************/
/*   Showcases   */
/*****************/

/* Full showcase */

button.prev { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-table; cursor: pointer; margin: 115px 0 0; }

button.next { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-table; cursor: pointer; margin: 115px 0 0 950px; }

div#showcase { width: 980px; height: 360px; overflow: hidden; float: left; }

	div.showcase_wrapper_small { float: left; display: inline-table; overflow: hidden; }

		div#showcase_wrapper { display: inline-table; width: 980px; height: 360px; }

			#showcase_wrapper ul { display: inline-table; }

				div#showcase_wrapper ul li { display: inline-table; }
			
					a.showcase_link { width: 785px; height: 60px; float: left; display: inline-block; font: 18px/60px "Lucida Grande", Lucida, Verdana, sans-serif; color: #fff; cursor: pointer; padding: 0 0 0 20px; }

					a.showcase_link:hover { text-decoration: underline; }

					a.moreinfo { display: inline-block; height: 60px; width: 155px; font: 18px/60px "Lucida Grande", Lucida, Verdana, sans-serif; color: #fff; cursor: pointer; float: left; padding: 0 0 0 20px; }
		
					a.moreinfo:hover { text-decoration: underline; }
				
/* Mini showcase */

button.prev_mini { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-table; cursor: pointer; margin: 61px 0 0; }

button.next_mini { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-table; cursor: pointer; margin: 60px 0 0 620px; }

div#showcase_mini { width: 650px; height: 185px; margin: 0 0 10px;  }

/* Product showcase */

div#showcase_control_product { display: table; position: absolute; z-index: 0; }

	button.prev_product { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-block; cursor: pointer; margin: 256px 0 0 -20px; }

	button.next_product { width: 30px; height: 59px; position: absolute; z-index: 5; display: inline-block; cursor: pointer; margin: 256px 0 0 930px; }

div#showcase_wrapper_product { width: 980px; position: absolute; z-index: 3; overflow: hidden; height: 586px; }

	#showcase_wrapper_product ul { width: 945px; position: absolute; display: inline-block; z-index: 5; margin: auto; }

		#showcase_wrapper_product ul li { width: 945px; float: left; height: 586px; }

			div.tumb_product { width: 310px; height: 190px; float: left; margin: 0 5px 5px 0; }

				div.tumb_product img { position: absolute; z-index: 4; }

				h3 a { font-size: 13px; line-height: 35px; color: #363636; height: 35px; position: absolute; z-index: 5; margin-top: 145px; padding: 0 20px; }

/*************/
/*   Image   */
/*************/

.img_homepage { width: 980px; float: left; display: inline-block; height: 300px; margin: 0; }

.img_medium { width: 650px; height: 300px; margin: 0 0 10px; }

img.part_left { float: left; display: inline-block; margin: 0 25px 10px 0; }

img.part_right { float: left; display: inline-block; margin: 0 0 10px; }

/**************/
/*   Footer   */
/**************/

div#footer { display: inline-block; width: 960px; background-image: url(../images/footer.png); height: 40px; margin: 10px 0 50px 0; padding: 2px 0 0 20px; }

/************/
/*   Home   */
/************/

/* JFlow homepage */

div#myController { display: inline-block; float: left; width: 630px; background-image: url(../images/controller_medium.png); height: 30px; padding-left: 20px; }

	span.jFlowControl { font: 12px/25px "Lucida Grande", Lucida, Verdana, sans-serif; height: 25px; display: inline-block; float: left; margin-top: 5px; padding-left: 6px; padding-right: 6px; margin-right: 1px; color: #e5e5e5; cursor: pointer; }

	span.jFlowControl.jFlowSelected { font: 12px/25px "Lucida Grande", Lucida, Verdana, sans-serif; height: 25px; display: inline-block; float: left; margin-top: 5px; padding-left: 6px; padding-right: 6px; margin-right: 1px; color: #e5e5e5; cursor:  pointer; }

div#flow_home { display: inline-table; }

	div#jFlowSlide { display: inline-block; }

		div#mySlides { display: inline-table; }

			div.jFlowSlideContainer { display: inline-block; float: left; }

				div.home_slide { width: 610px; float: left; display: inline-block; padding: 0 20px 20px; height: 280px; overflow: hidden; background: url(../images/JFlow_home.png) left bottom; margin-bottom: 10px; }

/* Vertical items */

div.ver_item1 { width: 280px; float: left; display: inline-block; margin: 20px 20px 20px 0; }

div.ver_item2 { width: 280px; float: left; display: inline-block; margin: 20px 0; padding: 0; }

img.large_thumb { width: 280px; height: 105px; margin: 10px 0; }

/* Horizontal items */

div.hor_item { display: block; float: left; width: 610px; margin: 5px 0 20px; }

img.small_thumb { display: inline-block; float: left; margin: 0 20px 0 0; }

/***************/
/*   TWITTER   */
/***************/

ul#twitter {float: left; display: inline-block; width: 280px; }

	#twitter li { border-bottom: 1px solid #ebebeb; margin: 10px 0; }

/***************/
/*   Contact   */
/***************/

label { font: 13px "Lucida Grande", Lucida, Verdana, sans-serif; float: left; display: inline-block; width: 150px; clear: left; margin: 0 0 10px; }

input.in_medium { height: 25px; width: 250px; float: left; display: inline-block; border: 1px solid #666; clear: left; margin: 0 0 10px; }

textarea.in_textarea { border: 1px solid #666; width: 600px; float: left; display: inline-block; margin: 0 0 10px; }

input#submit { width: 166px; height: 38px; float: left; display: inline-block; line-height: 38px; font-size: 18px; color: #fff; cursor: pointer; margin: 0 0 0 436px; }

div#header{
    height:145px;
    margin:10px 0;
}